#indicatortable_wrapper {
    padding: 0px 40px;
}   

.indVocabDiv{
    margin: 20px 40px;
}

.indVocabDiv--title {
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: 30px;    
}

.indVocabDiv .indVocabDiv__table-first{
    width: 50%;
    margin-bottom: 80px;
}

.aboutusDiv{
    padding: 0px 40px;
    margin: 20px 40px;

}
